@tailwind base;
@tailwind components;
@tailwind utilities;

// root css
@layer base {
  :root {
    --primary: #f79e00;
    --accent: #0f1a2d;
    --text: #4d4d4d;
    --muted: #a6a6a6;
    --background: #ffffff;
  
    --foreground: #0f1a2d;
  
    --muted-foreground: #4d4d4d;
  
    --popover: #ffffff;
    --popover-foreground: #0f1a2d;
  
    --card: #ffffff;
    --card-foreground: #0f1a2d;
  
    --border: #e5e5e5;
    --input: #e5e5e5;
  
    --primary-foreground: #ffffff;
  
    --secondary: #f5f5f5;
    --secondary-foreground: #0f1a2d;
  
    --accent-foreground: #0f1a2d;
  
    --destructive: #dc2626;
    --destructive-foreground: #ffffff;
  
    --ring: #f79e00;
  
    --success: #22c55e;
    --success-foreground: #f0fdf4;
  
    --warning: #facc15;
    --warning-foreground: #fefce8;
  
    --info: #3b82f6;
    --info-foreground: #eff6ff;
  
    --radius: 0.5rem;
  
    --nextra-primary-hue: 39deg;
  }
  

  .dark {
    --background: #0f1a2d;
    --foreground: #ffffff;
  
    --muted: #1a1a1a;
    --muted-foreground: #a6a6a6;
  
    --popover: #0f1a2d;
    --popover-foreground: #ffffff;
  
    --card: #1c1c1c;
    --card-foreground: #ffffff;
  
    --border: #2e2e2e;
    --input: #2e2e2e;
  
    --primary: #f79e00;
    --primary-foreground: #ffffff;
  
    --secondary: #1c1c1c;
    --secondary-foreground: #ffffff;
  
    --accent: #1c1c1c;
    --accent-foreground: #ffffff;
  
    --destructive: #dc2626;
    --destructive-foreground: #ffffff;
  
    --ring: #f79e00;
  
    --success: #22c55e;
    --success-foreground: #f0fdf4;
  
    --info: #3b82f6;
    --info-foreground: #eff6ff;
  
    --warning: #facc15;
    --warning-foreground: #fefce8;
  
    --default-50: #ffffff;
    --default-100: #f4f4f4;
    --default-200: #dddddd;
    --default-300: #c2c2c2;
    --default-500: #999999;
    --default-600: #7a7a7a;
    --default-700: #5c5c5c;
    --default-800: #3d3d3d;
    --default-900: #222222;
    --default-950: #121212;
  }
  
  * {
    @apply border-border;
  }
  
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-background dark:bg-background text-[color:var(--text)] text-sm;
  }
  
  .avatarGroup {
    > span {
      @apply hover:-translate-y-1 hover:relative hover:z-10 transition-transform;
    }
  }

  
  a {
    display: inline-block;
  }
  
}

@layer components {
}

.has-sticky-header {
  &::after {
    position: absolute;
    z-index: -10;
    backdrop-filter: blur(12px);
    content: "";
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.7) 44%,
      rgba(255, 255, 255, 0.43) 73%,
      rgba(255, 255, 255, 0) 100%
    );
    background-repeat: repeat;
    block-size: 5.5rem;
    inset-block-start: -1.5rem;
    inset-inline-end: 0;
    inset-inline-start: 0;
    -webkit-mask: linear-gradient(black, black 18%, transparent 100%);
    mask: linear-gradient(black, black 18%, transparent 100%);
  }
}


.CollapsibleContent {
  overflow: hidden;

  &[data-state="open"] {
    animation: slideDown 300ms ease-out;
  }

  &[data-state="closed"] {
    animation: slideUp 300ms ease-out;
  }
}

.input-group {
  :not(:first-child) input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  :not(:last-child) input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  &.merged {
    :not(:first-child) input {
      border-left-width: 0 !important;
      padding-left: 0px !important;
    }

    :not(:last-child) input {
      border-right: 0px !important;
      padding-right: 0px !important;
    }
  }
}

.ck .ck-editor__editable {
  min-height: 245px !important;
}

.loginwrapper {
  min-height: calc(var(--vh, 1vh) * 100);
  flex-basis: 100%;
}


.loginwrapper .lg-inner-column {
  height: calc(var(--vh, 1vh) * 100);
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

.animate-stripes {
  animation: progress-bar-stripes 1s linear infinite;
}

.dash-tail-app {
  .leaflet-control {
    z-index: 0 !important;
  }

  .leaflet-container {
    z-index: 0 !important;
    position: relative;
  }
}

.page-min-height {
  min-height: calc(var(--vh, 1vh) * 100 - 117px);
}

.page-min-height-semibox {
  min-height: calc(var(--vh, 1vh) * 100 - 200px);
}

.page-min-height-horizontal {
  min-height: calc(var(--vh, 1vh) * 100 - 170px);
}

.app-height {
  height: calc(var(--vh, 1vh) * 100 - 11.1rem) !important;
}

@media (max-width: 768px) {
  .app-height {
    height: calc(var(--vh, 1vh) * 100 - 10.5rem) !important;
  }
}

@media (min-width: 1280px) {
  .semibox-content-wrapper {
    margin-left: 56px;
    margin-right: 56px;
  }
}
.layout-padding {
  padding-bottom: 112px;
}
@media (min-width: 768px) {
  .layout-padding {
    padding-bottom: 37px;
  }
}
.no-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

@import "partials/calendar.scss";
@import "partials/react-slect";
@import "partials/map";
@import "partials/shepherd";
